{% extends 'base/header.html' %}
{% block content %}
<!-- Start Page Title Area -->
<div class="page-title-area">
	<div class="container">
		<div class="page-title-content">
			<h2>Qui Sommes Nous ?</h2>
			
			<ul>
				<li>
					<a href="../../index">
						Accueil 
					</a>
				</li>

				<li class="active">
					Qui Sommes Nous 
				</li>
			</ul>

			<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
		</div>
	</div>

	<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
	<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
</div>
<!-- End Page Title Area -->

<!-- Start Blog Area -->
<div class="blog-area ptb-100">
	<div class="container">
		<div class="blog-contents">
			<div class="blog-img">
				<img style="width: 1200px; height: 500px;" src="../../static/base/assets/images/about-us.jpg" alt="Image">
			</div>

			<h3>Qui sommes-nous ?</h3>

			<p>QuietRent est une Insurtech doublée d'une boutique de conseil immatriculée à l'ORIAS et spécialisée dans l'analyse et le scoring des risques immobiliers.</p>
			<p>QuietRent élabore des produits d'assurances innovants avec comme fil conducteur l'optimisation de trésorerie. Il s'agit d'une startup pionnière en matière de nouvelles technologies appliquées à l'assurance qui dispose d'une expertise reconnue par la presse professionnelle et nos partenaires : assureurs, courtiers et cabinets experts en analyse de risques.</p>
			<p>Le risque locatif en immobilier d'entreprise est plus que jamais d'actualité.
				C'est pourquoi, l'objectif de QuietRent Pro consiste en la substitution des
				Dépôts de Garantie (DG) et/ou des Garanties À Première Demande
				(GAPD) des baux commerciaux nouveaux et existants . Par extension nous
				souhaitons à terme élargir le produit à la substitution de toute GAPD .</p>
			<!--
			<div class="content-gap-mb-35"></div>

			<blockquote>
				<i class="ri-double-quotes-r"></i>
				<p>Lorem ipsum dolor sit amet, sectetur adipiscing elit. Quis placrat arcu amet rem ipsum dolor sit amecon. Lacerat arcu is a rem ipsum dolor. Lorem ipsum dolor sit amet, sectetur adipiscing elit. Quis placerat arcu amet rem ipsum dolor sit amecon.</p>
				<h4>Manika Selven</h4>
			</blockquote>

			<div class="content-gap-mb-35"></div>

			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="single-blog-img">
						<a href="blog.html">
							<img src="../../static/base/assets/images/blog/blog-5.jpg" alt="Image">
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-blog-img">
						<a href="blog.html">
							<img src="../../static/base/assets/images/blog/blog-4.jpg" alt="Image">
						</a>
					</div>
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. lorrna et purus et mi sit rhoncus. Id nisl quis arcu nulla.</p>

			<div class="content-gap-mb-35"></div>

			<h3>Insurance Covers Risk Of Fire Absence Of Fire Insurance</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. lorrna et purus et mi sit rhoncus. Id nisl quis arcu nulla leo nulla cras just. Something alit dolor siand t amet, cont  arsectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Quis placerat arcu nibh sed placerat elementum. lorem Urna et purus et mi sit rhoncus. Id nisl quis arcu nulla leo nulla.</p>

			<div class="row">
				<div class="col-lg-6 col-md-6">
					<ul class="protective-list mb-15">
						<li>
							<i class="ri-check-double-line"></i>
							Protective Protection
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Homeowner Insurance
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Consultations
						</li>
					</ul>
				</div>

				<div class="col-lg-6 col-md-6">
					<ul class="protective-list">
						<li>
							<i class="ri-check-double-line"></i>
							Money Back Guarantee
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Partnership System
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Safety Ensure
						</li>
					</ul>
				</div>
			</div>

			<div class="content-gap-mb-35"></div>

			<h3>Why Insurance Coverage Is Needed</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. lorrna et purus et mi sit rhoncus. Id nisl quis arcu nulla leo nulla cras just. Something alit dolor siand t amet, cont  arsectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum.</p>

			<div class="content-gap-mb-35"></div>

			<ul class="tag-social-link d-flex justify-content-between align-items-center">
				<li class="tag">
					<a href="blog.html">INSURANCE</a>
					<a href="blog.html">LIFE-TERM</a>
					<a href="blog.html">COVERAGE</a>
				</li>

				<li class="social">
					<a href="https://www.facebook.com/" target="_blank">
						<i class="ri-facebook-fill"></i>
					</a>
					<a href="https://www.twitter.com/" target="_blank">
						<i class="ri-twitter-fill"></i>
					</a>
					<a href="https://www.instagram.com/" target="_blank">
						<i class="ri-instagram-line"></i>
					</a>
					<a href="https://www.linkedin.com/" target="_blank">
						<i class="ri-linkedin-fill"></i>
					</a>
				</li>
			</ul>

			<div class="content-gap-mb-35"></div>
			-->
		</div>
	</div>
</div>
<!-- End Blog Area -->

<!-- Start Blog Area -->
<!--
<div class="blog-area bg-color-f3f9f8 ptb-100">
	<div class="container">
		<div class="section-title">
			<span class="top-title">BLOG AND NEWS</span>
			<h2>Better Digital Insurance Begins Right Here</h2>
		</div>

		<div class="blog-slide owl-carousel owl-theme">
			<div class="single-blog-item">
				<a href="blog-details.html">
					<img src="../../static/base/assets/images/blog/blog-1.jpg" alt="Image">
				</a>

				<div class="blog-content">
					<span>14 AUG 2021</span>
					<ul>
						<li>
							<a href="our-team.html">BY ADMIN
							</a>
						</li>
						<li>
							<a href="blog.html">INSURANCE</a>
						</li>
					</ul>
					<h3>
						<a href="blog-details.html">Ambulance Cover Of Fire On Insurance Serving</a>
					</h3>

					<a href="blog-details.html" class="default-btn">
						<i class="ri-arrow-right-s-line"></i>
						Read More
					</a>
				</div>
			</div>
		
			<div class="single-blog-item">
				<a href="blog-details.html">
					<img src="../../static/base/assets/images/blog/blog-2.jpg" alt="Image">
				</a>

				<div class="blog-content">
					<span>14 AUG 2021</span>
					<ul>
						<li>
							<a href="our-team.html">BY ADMIN
							</a>
						</li>
						<li>
							<a href="blog.html">INSURANCE</a>
						</li>
					</ul>
					<h3>
						<a href="blog-details.html">Insurance Covers Risk Of Fire Absence Of Fire Insurance</a>
					</h3>

					<a href="blog-details.html" class="default-btn">
						<i class="ri-arrow-right-s-line"></i>
						Read More
					</a>
				</div>
			</div>
		
			<div class="single-blog-item">
				<a href="blog-details.html">
					<img src="../../static/base/assets/images/blog/blog-3.jpg" alt="Image">
				</a>

				<div class="blog-content">
					<span>14 AUG 2021</span>
					<ul>
						<li>
							<a href="our-team.html">BY ADMIN
							</a>
						</li>
						<li>
							<a href="blog.html">INSURANCE</a>
						</li>
					</ul>
					<h3>
						<a href="blog-details.html">What Is Personal Liability Umbrella Coverage</a>
					</h3>

					<a href="blog-details.html" class="default-btn">
						<i class="ri-arrow-right-s-line"></i>
						Read More
					</a>
				</div>
			</div>

			<div class="single-blog-item">
				<a href="blog-details.html">
					<img src="../../static/base/assets/images/blog/blog-4.jpg" alt="Image">
				</a>

				<div class="blog-content">
					<span>14 AUG 2021</span>
					<ul>
						<li>
							<a href="our-team.html">BY ADMIN
							</a>
						</li>
						<li>
							<a href="blog.html">INSURANCE</a>
						</li>
					</ul>
					<h3>
						<a href="blog-details.html">Insurance Covers Risk Of Fire Absence Of Fire Insurance</a>
					</h3>

					<a href="blog-details.html" class="default-btn">
						<i class="ri-arrow-right-s-line"></i>
						Read More
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
-->
<!-- End Blog Area -->

<!-- Start Subscribe Area -->
<!--
<div class="subscribe-area ptb-100">
	<div class="container">
		<div class="section-title">
			<span class="top-title">READY TO GET STARTED</span>
			<h2>Get The Latest Insurance News In Minutes</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus..</p>
		</div>

		<div class="subscribe-content">
			<form class="newsletter-form" data-toggle="validator">
				<input type="email" class="form-control" placeholder="Email address" name="EMAIL" required autocomplete="off">

				<button class="default-btn" type="submit">
					<i class="ri-send-plane-2-line"></i>
					Subscribe
				</button>

				<div id="validator-newsletter" class="form-result"></div>
			</form>

			<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
			<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
		</div>
	</div>
</div>
-->
<!-- End Subscribe Area -->
{% endblock %}