{% extends 'base/header.html' %}
{% block content %}
		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Blog</h2>
					<ul>
						<li>
							<a href="../../index/">
								Accueil 
							</a>
						</li>
						<li class="active">
							Blog
						</li>
					</ul>
					<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
				</div>
			</div>

			<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
			<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
		</div>
		<!-- End Page Title Area -->

		<!-- Start Blog Area -->
		<div class="blog-area pt-100 ptb-100">
			<div class="container">
				<div class="section-title">
					<h2>Notre vision est notre actualité</h2>
				</div>

				<div class="row align-items-center">
					<div class="col-lg-4 col-md-6">
						<div class="single-blog-item style-post">
							<a href="../blog-details-1/">
								<img style="margin-top: 25%;margin-bottom: 25%;width: 100%;" src="../../static/base/assets/images/QuietRentPro_blog_odealim.png" alt="Image">
							</a>
	
							<div class="blog-content">
								<ul>
									<li>
										1 avril 2020
									</li>
								</ul>
								<h3>
									<a href="../blog-details-1/">QuietRent Pro, la solution de substitution du Dépot de Garantie et de la GAPD</a>
								</h3>
	
								<a href="../notre-equipe/" class="admin">
									<img src="../../static/base/assets/images/favicon.png" alt="Image" style="width: 10%;">
									BY QuietRent
								</a>
							</div>
						</div>
					</div>


					<div class="col-lg-4 col-md-6">
						<div class="single-blog-item style-post">
							<a href="../blog-details-3/">
								<img style="margin-top: 5%;margin-bottom: 5%;width: 100%;" src="../../static/base/assets/images/QuietRentPro_blog_monimeuble.jpg" alt="Image">
							</a>
	
							<div class="blog-content">
								<ul>
									<li>
										3 avril 2020
									</li>
								</ul>
								<h3>
									<a href="../blog-details-3/">QuietRent Pro : comment redonner de la trésorerie aux entreprises locataires ?</a>
								</h3>
	
								<a href="../notre-equipe/" class="admin">
									<img src="../../static/base/assets/images/favicon.png" alt="Image" style="width: 10%;">
									BY QuietRent
								</a>
							</div>
						</div>
					</div>


				
					<div class="col-lg-4 col-md-6">
						<div class="single-blog-item style-post">
							<a href="../blog-details-2/">
								<img style="width:100%;" src="../../static/base/assets/images/QuietRentPro_blog_linkedin-1.jpg" alt="Image">
							</a>
	
							<div class="blog-content">
								<ul>
									<li>
										11 juillet 2021
									</li>
								</ul>
								<h3>
									<a href="../blog-details-2/">DG, GAPD et baux commerciaux : des alternatives crédibles? </a><br/> &nbsp;</a>
								</h3>
	
								<a href="../notre-equipe/" class="admin">
									<img src="../../static/base/assets/images/favicon.png" alt="Image" style="width: 10%;">
									BY QuietRent
								</a>
							</div>
						</div>
					</div>
			
				</div>
			</div>
		</div>
		<!-- End Blog Area -->

{% endblock content %}