{% extends 'base/header.html' %}
{% block content %}


<style>
p{
	text-align: justify;
}

h5{
	margin-left: 5%;
}

.bold{
	font-weight: bold;
}

</style>


		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Blog</h2>

					<ul>
						<li>
							<a href="../../index/">
								Accueil 
							</a>
						</li>

						<li class="active">
							Article
						</li>
					</ul>

					<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
				</div>
			</div>

			<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
			<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
		</div>
		<!-- End Page Title Area -->

		<!-- Start Blog Area -->
		<div class="blog-area ptb-100">
			<div class="container">
				<div class="blog-contents">
					<h3 style="text-align:center;">QuietRent Pro : comment redonner de la trésorerie aux entreprises locataires ?</h3>
					<div class="content-gap-mb-35"></div>
					<div class="blog-img">
						<img style="width: 100%;" src="../../static/base/assets/images/QuietRentPro_blog_monimeuble.jpg" alt="Image">

						<ul class="admin d-flex justify-content-between align-items-center">
							<li>
								<a href="../blog/">
									<img src="../../static/base/assets/images/favicon.png" alt="Image" style="width: 15%;">
									BY QuietRent
								</a>
							</li>

							<li>
								<!-- <span>
									<i class="ri-calendar-2-line"></i>
									14 AUG 2021
								</span>-->
								<a href="https://monimmeuble.com/actualite/quietrent-pro-comment-redonner-de-la-tresorerie-aux-entreprises-locataires">
									<i class="ri-bookmark-line"></i>
									Mon Immeuble
								</a>
							</li>
						</ul>
					</div>
					<p>Le risque locatif en immobilier d’entreprise est plus que jamais d’actualité. Dans le contexte de crise sanitaire majeure liée au Covid-19, les difficultés de paiements des loyers se précisent. C’est pourquoi, QuietRent Pro, une solution assurantielle, propose la substitution du Dépôt de Garantie et de la GAPD.</p>
					<div class="content-gap-mb-35"></div>

					<h3>Dépôt de garantie (DG) et éventuelle GAPD : deux obligations qui impactent fortement la trésorerie</h3>

					<p>Dans une logique de solidarité entre bailleurs et locataires, des possibilités sont offertes aux entreprises pour envisager plus sereinement leur activité. En effet le dépôt (DG) de garantie ou la garantie bancaire à première demande (GAPD) peuvent être équivalentes à un montant de 6 à 15 mois de loyers. Un impact certain sur la trésorerie d’une entreprise qui démarre ou se développe !</p>

					<div class="content-gap-mb-35"></div>
					<h3>Dépôt de garantie (DG)</h3>
                    <p>Notons que la loi ne réglemente pas les modalités du dépôt de garantie du bail commercial. Elles sont précisées par les parties au moment de signature du contrat de location.</p>
					
					<p>Cette clause du bail commercial, relative au dépôt de garantie, devra mentionner précisément : son objectif, le montant et les conditions de versement et de restitution de cette somme bloquée entre les mains du bailleur. Le dépôt de garantie peut notamment servir à couvrir les impayés de loyer et de charges locatives.</p>
					<p>Le montant du dépôt est libre, il peut se négocier. En règle générale, il est égal à deux trimestres de loyer lorsque le loyer est payable en fin de mois.</p>
                    
					<div class="content-gap-mb-35"></div>
					<h3>Garantie bancaire à première demande (GAPD)</h3>
					
					<p>La GAPD, garantie à première demande est un acte par lequel un garant s’engage à payer dès la première demande à la demande du bénéficiaire, une somme d’argent déterminée sans pouvoir soulever d’exception.</p>

					<p>En matière de bail commercial, le donneur d’ordre est le preneur, le bénéficiaire est le bailleur et le garant est souvent une banque.</p>
					
					<p>L’engagement d’une garantie à première demande est très lourd de conséquence. Il est donc préférable de définir clairement les conditions. Le contrat de garantie est soumis au droit des contrats. Il doit contenir : l’objet et la cause de l’obligation, la capacité, le consentement éclairé, le montant des sommes engagées.</p>
					
					<p>Le montant de la garantie peut varier. Elle s’élève généralement entre 3 mois et 1 an de loyer HT HC ou parfois TTC et charges comprises. Sa durée est souvent fonction de la solvabilité de la structure et son ancienneté.</p>
					
					<p>L’idée avec la solution QuietRent Pro est donc de permettre au locataire, moyennant le paiement d’une prime, de n’immobiliser qu’une partie de son DG et/ou GAPD. Le solde étant garanti par celle-ci. Ainsi, le locataire utilise l’excèdent de trésorerie pour développer son activité tout en rassurant le bailleur en lui fournissant des garanties confortables.</p>


					<div class="content-gap-mb-35"></div>
					<h3>QuietRent Pro libère de la trésorerie pour le locataire</h3>

					<p>Pour répondre à cette problématique, deux acteurs se sont alliés afin de proposer une solution innovante et sécurisante. QuietRent, startup spécialiste du scoring locatif et INSOR, courtier spécialiste des garanties locatives. Ainsi, ils proposent depuis fin 2019, une solution unique en France substituant une assurance au dépôt de garantie (DG) et à l’éventuelle GAPD.</p>

					<p>Cette solution assurantielle était initialement orientée vers les nouveaux baux. Toutefois, elle apporte dans un contexte de renégociation du loyer, une réponse particulièrement intéressante pour les baux en cours.</p>
						
					<p>Le montant du dépôt de garantie est restitué au locataire. Il perçoit une franchise de loyer ou remboursement, en contrepartie du paiement d’une cotisation. Le montant de l’éventuelle GAPD peut entrer dans ce même dispositif.</p>
						
					<p>QuietRent Pro est sans risque pour le bailleur. En cas de défaillance du locataire, le bailleur est garanti du paiement du montant substitué (DG et/ ou GAPD). Il en est de même pour la prise en charge des frais de procédure. Cette indemnisation est conduite sous un délai de 15 jours.</p>


					<div class="content-gap-mb-35"></div>
					<h3>Comment mettre en place la garantie QuietRent Pro ?</h3>

					<p> garantie QuietRent Pro s’applique aussi bien aux locataires entrants, qu’aux locataires en place. Elle peut se mettre en place en 3 étapes :</p>
					<h5>Etape 1 – Certifier le dossier locataire</h5>

					<p>Pour bénéficier des avantages de la garantie, vous devez obtenir la Certification QuietRent Pro. Elle est délivrée sous 72 h à réception de votre dossier.</p>
					<h5>Etape 2 – Présenter la garantie au bailleur</h5>

					<p>La garantie QuietRent Pro couvre le bailleur contre les manquements du locataire : loyers, charges, détériorations immobilières… La garantie accorde également la prise en charge des frais de procédure contentieuse.</p>

					<p>Cette garantie améliore la fluidité transactionnelle en facilitant la prise à bail notamment lorsqu’une GAPD est exigée. Les formalités longues et coûteuses sont évitées au profit d’une solution de certification délivrée sous 72 heures par INSOR, à réception du dossier de candidat locataire.</p>
					<h5>Etape 3 – Signer le bail aménagé</h5>

					<p>Le bailleur obtient un avenant au bail de substitution du dépôt de Garantie (ou GAPD). Le bailleur conserve ainsi son modèle de bail habituel avec simplement un avenant annexé qui précise les nouveaux engagements du locataire.</p>
		
					<div class="content-gap-mb-35"></div>

					
					<div class="content-gap-mb-35"></div>

					

					<div class="content-gap-mb-35"></div>

					<h3>Combien coûte la garantie QuietRent Pro ?</h3>
					<p>Cotisation à partir de 2,70% des sommes substituées (DG ou GAPD) + frais de structuration la 1ère année équivalant à la cotisation.</p>

						<p>Dans cet exemple, le bail prévoit un loyer annuel de 120.000 € hc ht. Le dépôt de garantie est fixé à 3 mois de loyer hc, soit 30.000 €.</p>
						
						<p>Sans la garantie QuietRent Pro, le locataire doit verser la première année un dépôt de garantie de 30.000 €. Mais il ne versera rien les années suivantes.</p>
						
						<p>Avec QuietRent Pro, le calcul est le suivant :
							<ul>
								<li>1ère année, la cotisation est fixée à 30.000 € x 2,70% = 810 € + frais de structuration : équivalent à la cotisation, soit 810 €.</li>
								<li>Années suivantes, la cotisation sera fixée à 30.000 € x 2,70% = 810 €</li>
							</ul>
						
						<p>Avec la garantie QuietRent Pro, vous préservez votre trésorerie de la 1ère année de 28.380 € (30.000 € – 810 € – 810 € = 28.380 €) ! </p>
						
						<p>La solution d’assurance QuietRent Pro est d’autant plus pertinente par ces temps de crise. Elle apporte une réponse satisfaisante pour les locataires en place qui récupèrent ainsi leurs fonds ou une franchise équivalente. De leur côté, les bailleurs solvabilisent leur locataire en les aidant à relancer leur activité.</p>
					


					<div class="content-gap-mb-35"></div>
				</div>
			</div>
		</div>
		<!-- End Blog Area -->

		<!-- Start Blog Area -->
		<div class="blog-area bg-color-f3f9f8 ptb-100">
			<div class="container">
				<div class="section-title">
					<span class="top-title">BLOG AND NEWS</span>
					<h2>Better Digital Insurance Begins Right Here</h2>
				</div>

				<div class="blog-slide owl-carousel owl-theme">
					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-1.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Ambulance Cover Of Fire On Insurance Serving</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-2.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Insurance Covers Risk Of Fire Absence Of Fire Insurance</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-3.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">What Is Personal Liability Umbrella Coverage</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-4.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Insurance Covers Risk Of Fire Absence Of Fire Insurance</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Blog Area -->

<!-- Start Need Any Help Area -->
<br>
<div class="need-any-help-area pb-100">
    <div class="container">
        <div class="section-title mb-0">
            <h2> Une question ? </h2>
            <p>Nous sommes à votre écoute pour répondre à toutes vos questions</p>

            <div class="mt-4">
                <a href="../contact-us/" class="default-btn">
                    <i class="ri-send-plane-line"></i>
                    Nous Contacter
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Need Any Help Area -->

{% endblock %} 