{% extends 'base/header.html' %}
{% block content %}


<style>
p{
	text-align: justify;
}

.bold{
	font-weight: bold;
}

</style>

		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Blog</h2>

					<ul>
						<li>
							<a href="../../index/">
								Accueil 
							</a>
						</li>

						<li class="active">
							Article
						</li>
					</ul>

					<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
				</div>
			</div>

			<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
			<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
		</div>
		<!-- End Page Title Area -->

		<!-- Start Blog Area -->
		<div class="blog-area ptb-100">
			<div class="container">
				<div class="blog-contents">
					<h3 style="text-align:center;">DG,GAPD (garantie [autonome] à première demande) et baux commerciaux : des alternatives crédibles?</h3>
					<div class="blog-img">
						<img style="width:100%;" src="../../static/base/assets/images/QuietRentPro_blog_linkedin-1.jpg" alt="Image">

						<ul class="admin d-flex justify-content-between align-items-center">
							<li>
								<a href="../blog/">
									<img src="../../static/base/assets/images/favicon.png" alt="Image" style="width: 15%;">
									BY QuietRent
								</a>
							</li>

							<li>
								<!-- <span>
									<i class="ri-calendar-2-line"></i>
									14 AUG 2021
								</span> -->
								<a href="https://www.linkedin.com/pulse/dggapd-garantie-autonome-%C3%A0-premi%C3%A8re-demande-et-baux-des-maman/"">
									<i class="ri-bookmark-line"></i>
									Chalom Aryé MAMAN
								</a> 
							</li>
						</ul>
					</div>
					<div class="content-gap-mb-35"></div>
					<h3>A l'origine, une posture de pionnier assumée…</h3>

					<p>C'est une histoire qui commence de manière classique pour tout entrepreneur qui s'est dit un jour : "je tiens La bonne idée", à la différence près que, nous sommes loin, très loin du mantra du startuper type "fake it, till you make it". Dans le cadre de notre activité en investissement et conseil stratégique en immobilier, nous avions rapidement remarqué que l'immobilisation de fonds dans des DG et/ou GAPD était un problème pour nos clients grands comptes et forcément pour les PME et TPE.</p>

                    <p> La GAPD apparaissait comme une première bonne idée, en tant que trésorerie non immobilisée chez le bailleur et avec un cash collatéral moindre voire nul pour certains "corporates". Cependant, pour 99.999% des entreprises, la GAPD impliquait, outre un délai de mise en place souvent long, un cash collatéral de 100%.</p>
                    <p>Cela a été notre point de départ. Après avoir développé des outils de "scoring locatif ", nous avons disséqué la GAPD couramment admise en substitution des DG voire en garantie complémentaire. Nous en avons retenu trois éléments essentiels : une contrepartie solide, une absence de bénéfice de discussion ou de contestation et un dédommagement rapide. Comment trouver une solution qui se rapprocherait de ce "triptyque" gagnant en préservant au mieux sa trésorerie ? Nous avons pensé à l'assurance. Nous étions en 2019...</p>
					<div class="content-gap-mb-35"></div>

					<h3>Notre approche de la conception : rigueur et innovation</h3>

					<p>Bien malin celui qui peut prétendre avoir le premier, pensé à une solution de garantie locative pour les baux commerciaux. Alors que les GLI étaient courantes pour les baux d'habitation, plusieurs avaient tenté de transposer ce genre de produits pour l'immobilier commercial.</p>
					<p>Dans notre approche chez QuietRent, nous nous sommes inspirés des GAPD qui existaient dans la banque. Mais à partir du moment où l’on a sondé des assureurs, nous avons remarqué qu’ils avaient des difficultés à appréhender des modèles financiers ou mathématiques qui permettaient de créer ce produit et donc d’offrir cette innovation aux clients. Notre proposition de valeur est de partir de ce besoin exprimé depuis des années, et de convaincre des assureurs par des approches mathématiques inédites ("à l'époque") venant d’autres secteurs, et de les transposer dans le secteur des garanties locatives.</p>
					<p> Autrefois, la data était mal connectée et mal organisée, et reposait surtout sur des modèles mathématiques sous-jacents qui n’étaient pas optimums. Les modèles étaient extrêmement compliqués poussant parfois la technique au détriment du bon sens.</p>
					<p>L’évolution dans les modèles a permis d’introduire au-delà des notions actuarielles traditionnellement employées, une approche basée sur le Big Data. L’utilisation de la data au sein de l’assurance est à la fois un renouveau et un relais de croissance du fait que les données maniées sont les mêmes, mais ce sont les modèles qui ont évolué. QuietRent propose un produit dont le concept n’est pas forcément nouveau mais dont la gestion du risque est totalement révolutionnaire. Notre valeur ajoutée réside dans une analyse en amont via nos "scorings" propriétaires, la couverture par nos solutions est en soi déjà un gage de solvabilité ou de rationnels présents pour limiter les risques en amont.</p>

					<div class="content-gap-mb-35"></div>
					<h3>Une équipe complémentaire et spécialisée</h3>
					<p>Notre équipe complémentaire permet d'appréhender la chaine, du besoin à la solution. Notre point de départ est toujours une problématique rencontrée dans le cadre de missions en immobilier. Nous réfléchissons à une approche du risque tridimensionnel, à la fois mathématique, immobilière et financière. Ainsi à la différence d'un courtier classique, nous abordons chaque dossier en nous intéressant à la fois à la société et à son immobilier.</p>
					

					<div class="content-gap-mb-35"></div>


					<div class="row">
						<div class="col-lg-12 col-md-6">
							<div class="single-blog-img">
								<a href="blog.html">
									<img src="../../static/base/assets/images/QuietRentPro_blog_linkedin-2.png" alt="Image">
								</a>
							</div>
						</div>
					</div>
					<div class="content-gap-mb-35"></div>

					<p> Nous soumettons ensuite nos propositions pour la conception de produits de couverture de risques. Nous travaillons toujours en tandem avec le client final potentiel.

						Ainsi, nos porteurs de risques bénéficient immédiatement de notre pipe clients et leurs retours sur les spécificités nécessaires au succès du produit. Nous travaillons sur la base d'une grille de primes dépendante de plusieurs facteurs et dynamique au gré des évolutions économiques. </p>

						<div class="content-gap-mb-35"></div>
					<h3>Lancement du concept avec un premier produit assuranciel : Assurance de substitution de DG et/ou GAPD</h3>
					<p>QuietRent Pro est un produit d’assurance venant se substituer en tout ou partie au dépôt de garantie et/ou à la GAPD. Il est l’aboutissement d’un an de recherche et développement avec des partenaires assureurs, courtiers grossistes et clients finaux sur les plans technique, financier et juridique.</p>
					

					<div class="content-gap-mb-35"></div>


					<div class="row">
						<div class="col-lg-12 col-md-6">
							<div class="single-blog-img">
								<a href="blog.html">
									<img src="../../static/base/assets/images/process-QuietRent.png" alt="Image">
								</a>
							</div>
						</div>
					</div>
					<div class="content-gap-mb-35"></div>

					<p>La souscription à notre solution laisse la possibilité au locataire d'allouer une plus grande partie de ses liquidités à son activité, en récupérant son DG/GAPD et en s'acquittant d'une prime annuelle réduite.</p>
					<p>Ce produit offre des avantages très confortables pour un bailleur en recherche d'une couverture raisonnable du risque. Outre la couverture des sommes dues au titre du bail et les dégradations, une prise en charge des frais juridiques est proposée. Nous avons aussi obtenu et c'est encore inédit en France que la couverture initiale du risque soit sur 3 ans fermes au minimum à l'instar de la période triennale d'un bail classique. Autre fait inédit, nous pouvons intervenir sur des baux en cours en plus des nouveaux. Enfin, outre la contrepartie de qualité, une certification engage l'assureur de manière définitive et l'indemnisation se veut rapide.</p>
					<p>Pour le preneur aussi, la formule reste intéressante. Nous couvrons un montant et non un loyer, avec une analyse fine qui nous permet de négocier des <span class="bold"> taux très compétitifs, en moyenne entre 3% et 3,5% du montant à couvrir soit pour un équivalent 6 mois HT HC entre 1,5% et 1,75% du loyer HT HC.</span></p>
					<p>Ce produit présente des limites dans son format et le processus qui doivent répondre à des obligations et/ou mécanisme en vigueur pour tout produit d'assurance. Il est adapté pour la plupart des commerces et leurs bailleurs mais pas pour toutes les structures. Nous le proposons principalement pour des TPE et PME.</p>

					<div class="content-gap-mb-35"></div>
					<h3>Quid de la concurrence ? Quel type de produit?</h3>
					<p>Nous observons l'entrée sur ce segment de plusieurs startups depuis 2020 avec des caractéristiques et des produits différents.</p>
					<p>Il y a des startups bien établies sur le résidentiel pour particulier avec la GLI (voire inversée) qui ont proposé une extension d'une GLI aux baux commerciaux. Si l'idée reste intéressante, certaines carences dues à une approche de masse sans le recul nécessaire permet de faire les remarques suivantes. Les périodes initiales de couvertures sont de 12 mois, une période trop courte pour un bail commercial classique. Le raisonnement se fait en mois de loyers et non sur un montant (hormis la limite), c'est normal cela reste une GLI. Elles ne permettent pas d'intervenir sur des baux courts et ne sont plus adaptées pour des baux de plus de 10K€ HT mensuel. <span class="bold"> Enfin les tarifs sont très élevés commençant en moyenne à 5% du loyer HT HC. </span></p>
					<p>Enfin même si aujourd'hui nous remarquons qu'elles utilisent le même wording, que nous proposons sur notre site depuis deux ans, à savoir la substitution des DG et/ou GAPD, la finalité principale reste une garantie complémentaire. Nous saluons leur participation à l'évolution des mentalités des bailleurs sur l'alternative aux garanties locatives classiques. D'autant plus que la plupart ont une présence forte sur les réseaux sociaux.</p>
					<p>Nous préférons éviter de parler du second type, de nouveaux entrants qui paraphrasent sans avoir encore de produits ou en faisant des tests "anonymes" sur notre site pour tenter de comprendre nos processus et nos notations (qui sont réalisées a posteriori). Notre vigilance ne sera qu'accrue. Nous déplorons un tel comportement, mais nous sommes rassurés de voir que notre vision fait sens avec l'émergence de concurrents, nous espérons toutefois capitaliser sur notre avance et notre recul pour faire mieux dans le futur.</p>


					<div class="content-gap-mb-35"></div>
					<h3>Appréhender le futur</h3>
					<p>Si il est évident que l'absence de DG et/ou GAPD avec du cash immobilisé sera la norme de demain, l'idée commence à germer dans les esprits des bailleurs privés ou plus importants. Les produits sont à parfaire et nous travaillons sur une nouvelle version depuis plusieurs mois, plus lisible et crédible. Cette fois, nous ne publierons rien avant son lancement officiel…</p>
					<div class="content-gap-mb-35"></div>
				</div>
			</div>
		</div>
		<!-- End Blog Area -->

		<!-- Start Blog Area -->
		<div class="blog-area bg-color-f3f9f8 ptb-100">
			<div class="container">
				<div class="section-title">
					<span class="top-title">BLOG AND NEWS</span>
					<h2>Better Digital Insurance Begins Right Here</h2>
				</div>

				<div class="blog-slide owl-carousel owl-theme">
					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-1.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Ambulance Cover Of Fire On Insurance Serving</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-2.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Insurance Covers Risk Of Fire Absence Of Fire Insurance</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-3.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">What Is Personal Liability Umbrella Coverage</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-4.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Insurance Covers Risk Of Fire Absence Of Fire Insurance</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Blog Area -->

<!-- Start Need Any Help Area -->
<br>
<div class="need-any-help-area pb-100">
    <div class="container">
        <div class="section-title mb-0">
            <h2> Une question ? </h2>
            <p>Nous sommes à votre écoute pour répondre à toutes vos questions</p>

            <div class="mt-4">
                <a href="../contact-us/" class="default-btn">
                    <i class="ri-send-plane-line"></i>
                    Nous Contacter
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Need Any Help Area -->

{% endblock %} 