{% extends 'base/header.html' %}
{% block content %}


<style>
p{
	text-align: justify;
}

.bold{
	font-weight: bold;
}

</style>


		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Blog</h2>

					<ul>
						<li>
							<a href="../../index/">
								Accueil 
							</a>
						</li>

						<li class="active">
							Article
						</li>
					</ul>

					<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
				</div>
			</div>

			<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
			<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
		</div>
		<!-- End Page Title Area -->

		<!-- Start Blog Area -->
		<div class="blog-area ptb-100">
			<div class="container">
				<div class="blog-contents">
					<h3 style="text-align:center;">Comment redonner de la trésorerie aux entreprises locataires ?</h3>
						<h3 style="text-align:center;">QuietRent Pro, la solution de substitution du Dépot de Garantie et de la GAPD*</h3>
					<div class="content-gap-mb-35"></div>
					<div class="blog-img">
						<img style="width: 100%;" src="../../static/base/assets/images/QuietRentPro_blog_odealim.png" alt="Image">

						<ul class="admin d-flex justify-content-between align-items-center">
							<li>
								<a href="../blog/">
									<img src="../../static/base/assets/images/favicon.png" alt="Image" style="width: 15%;">
									BY QuietRent
								</a>
							</li>

							<li>
								<!-- <span>
									<i class="ri-calendar-2-line"></i>
									14 AUG 2021
								</span>-->
								<a href="https://odealim.com/communique-de-presse-quiet-rent-pro/">
									<i class="ri-bookmark-line"></i>
									ODEALIM
								</a> 
							</li>
						</ul>
					</div>

					<h3>Une urgence face à la crise du Covid-19</h3>

					<p>Le risque locatif en immobilier d'entreprise est plus que jamais d'actualité.
                        Dans le contexte actuel de crise sanitaire majeure liée au Covid-19, les difficultés de paiements se
                        précisent pour de nombreuses entreprises, avec des conséquences redoutées par les bailleurs.
                        Dans une logique de solidarité, attendue entre bailleurs et locataires, il est primordial de se
                        pencher sur les possibilités offertes aux entreprises pour reprendre plus sereinement leur
                        développement et/ou relancer leur activité.</p>

                    <p>Pour répondre cette problématique certaine, contexte de crise ou non, deux acteurs se sont
                        alliés afin de proposer une solution innovante et sécurisante. <span class="bold">QuietRent</span>, startup spécialiste du
                        scoring locatif et <span class="bold">INSOR,</span> courtier spécialiste des garanties locatives proposent depuis fin 2019,<span class="bold"> une
                        solution unique en France substituant une assurance au dépôt de garantie (DG) et l'éventuelle
                        GAPD*</span>. Ces deux obligations lors de la signature d'un bail commercial peuvent étre équivalentes
                        un montant de 6 ä 15 mois de loyers : un impact certain sur la trésorerie d'une entreprise qui
                        démarre ou se développe !</p>
                    <p>Cette solution assurantielle initialement orientée vers les nouveaux baux, apporte dans un contexte
                        de renégociation du loyer, <span class="bold">une réponse particuliérement intéressante pour les baux en cours :</span>
                        <ul>
                            <li> <span class="bold">QuietRent Pro libére de la trésorerie pour le locataire en place </span> <br/>
                            Le montant du dépôt de garantie est restitué au locataire, sous forme de franchise de loyer ou
                            remboursement, en contrepartie du paiement d'une cotisation. Le montant de l'éventuelle GAPD
                            peut entrer dans ce méme dispositif.</li>
                            <li> <span class="bold">QuietRent Pro est sans risque pour le bailleur. </span><br/>
                            En cas de défaillance du locataire, le bailleur est garanti du paiement du montant substitué (DG et/
                            ou GAPD) et de la prise en charge des frais de procédure. Cette indemnisation est conduite sous
                            un délai de 15 jours. La solution d'assurance QuietRent Pro est d'autant plus pertinente par ces
                            temps de crise. Elle apporte une réponse satisfaisante pour les locataires en place qui récupèrent
                            ainsi leurs fonds ou une franchise équivalente, et pour les bailleurs qui solvabilisent leur locataire
                            en les aidant relancer leur activité.</li>
                        </ul>
                    </p>
					<div class="content-gap-mb-35"></div>

					<p>(*) - GAPD : la garantie bancaire à premiére demande.
						La GAPD, garantie à premiére demande est un acte par lequel un garant s'engage à payer dés la
						premiére demande à la demande du bénéficiaire (le pouvoir adjudicateur), une somme d'argent
						déterminée sans pouvoir soulever d'exception. Son montant peut varier mais s'éléve généralement
						entre 3 mois et 1 an de loyer HT HC ou parfois T TC et charges comprises. Sa durée est souvent
						fonction de la solvabilité de la structure et son ancienneté.</p>

					<div class="content-gap-mb-35"></div>

					<h3>Qui sommes nous</h3>
					<p><span class="bold">QuietRent :</span> Startup créée en 2017 par Aryé C. MAMAN et Itsik TEBOUL, a pour vocation de
						rationnaliser l'analyse du risque locatif des baux d'habitation et commerciaux. Outils et modèles
						mathématiques les plus poussés sont utilisés pour analyser, organiser et suivre les données.
						</p>
					<p>
						<span class="bold">INSOR : </span>Courtier d'assurance, spécialiste des risques de la gestion locative : garantie des loyers
						impayés, absence de locataire, ou garantie revente. Le cabinet, fondé en 2000 par Olivier ATLAN,
						intégre en 2017 le groupement de courtiers ODEALIM, spécialiste de l'assurance immobilière, qui
						assure plus de 36 000 copropriétés et plus de 130 000 logements.</p>

					<div class="content-gap-mb-35"></div>
				</div>
			</div>
		</div>
		<!-- End Blog Area -->

		<!-- Start Blog Area -->
		<div class="blog-area bg-color-f3f9f8 ptb-100">
			<div class="container">
				<div class="section-title">
					<span class="top-title">BLOG AND NEWS</span>
					<h2>Better Digital Insurance Begins Right Here</h2>
				</div>

				<div class="blog-slide owl-carousel owl-theme">
					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-1.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Ambulance Cover Of Fire On Insurance Serving</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-2.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Insurance Covers Risk Of Fire Absence Of Fire Insurance</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-3.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">What Is Personal Liability Umbrella Coverage</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>

					<div class="single-blog-item">
						<a href="blog-details.html">
							<img src="../../static/base/assets/images/blog/blog-4.jpg" alt="Image">
						</a>

						<div class="blog-content">
							<span>14 AUG 2021</span>
							<ul>
								<li>
									<a href="our-team.html">BY ADMIN
									</a>
								</li>
								<li>
									<a href="blog.html">INSURANCE</a>
								</li>
							</ul>
							<h3>
								<a href="blog-details.html">Insurance Covers Risk Of Fire Absence Of Fire Insurance</a>
							</h3>

							<a href="blog-details.html" class="default-btn">
								<i class="ri-arrow-right-s-line"></i>
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Blog Area -->

<!-- Start Need Any Help Area -->
<br>
<div class="need-any-help-area pb-100">
    <div class="container">
        <div class="section-title mb-0">
            <h2> Une question ? </h2>
            <p>Nous sommes à votre écoute pour répondre à toutes vos questions</p>

            <div class="mt-4">
                <a href="../contact-us/" class="default-btn">
                    <i class="ri-send-plane-line"></i>
                    Nous Contacter
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Need Any Help Area -->

{% endblock %} 