{% extends 'base/header.html' %}
{% block content %}
{% load static %}
<!-- Start Page Title Area -->
<div class="page-title-area">
	<div class="container">
		<div class="page-title-content">
			<h2>Garantie de remplacement DG/GAPD</h2>
			
			<ul>
				<li>
					<a href="../../index">
						Accueil
					</a>
				</li>

				<li class="active">
					Garantie de remplacement DG/GAPD
				</li>
			</ul>

			<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
		</div>
	</div>

	<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
	<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
</div>
<!-- End Page Title Area -->

<!-- Start Business Insurance Area -->
<section class="business-insurance-area ptb-100">
	<div class="container">
		<div class="business-insurance-content main-content-text">
			<img style="width: 800px; height: 350px;" src="{% static 'base/assets/images/process-QuietRent.png' %}" alt="Image">
			<div class="content-gap-mb-20"></div>
			<h3>Garantie de remplacement de DG / GAPD dans les baux commerciaux</h3>
			<p>Dans une logique de solidarité entre bailleurs et locataires, des possibilités sont offertes aux entreprises pour envisager plus sereinement leur activité. En effet le dépôt (DG) de garantie ou la garantie bancaire à première demande (GAPD) peuvent être équivalentes à un montant de 6 à 15 mois de loyers. Un impact certain sur la trésorerie d'une entreprise qui démarre ou se développe !</p>
		
			<div class="content-gap-mb-30"></div>

			<h3>Dépôt de garantie (DG)</h3>
			<p>Notons que la loi ne réglemente pas les modalités du dépôt de garantie du bail commercial. Elles sont précisées par les parties au moment de signature du contrat de location.</p>
			<p>Cette clause du bail commercial, relative au dépôt de garantie, devra mentionner précisément : son objectif, le montant et les conditions de versement et de restitution de cette somme bloquée entre les mains du bailleur. Le dépôt de garantie peut notamment servir à couvrir les impayés de loyer et de charges locatives.</p>
			<p>Le montant du dépôt est libre, il peut se négocier. En règle générale, il est égal à deux trimestres de loyer lorsque le loyer est payable en fin de mois.</p>

			<div class="content-gap-mb-30"></div>
		
			<h3>Garantie bancaire à première demande (GAPD)</h3>
			<p>La GAPD, garantie à première demande est un acte par lequel un garant s'engage à payer dès la première demande à la demande du bénéficiaire, une somme d'argent déterminée sans pouvoir soulever d'exception.</p>
			<p>En matière de bail commercial, le donneur d'ordre est le preneur, le bénéficiaire est le bailleur et le garant est souvent une banque.</p>
			<p>L'engagement d'une garantie à première demande est très lourd de conséquence. Il est donc préférable de définir clairement les conditions. Le contrat de garantie est soumis au droit des contrats. Il doit contenir : l'objet et la cause de l'obligation, la capacité, le consentement éclairé, le montant des sommes engagées.</p>
			<p>Le montant de la garantie peut varier. Elle s'élève généralement entre 3 mois et 1 an de loyer HT HC ou parfois TTC et charges comprises. Sa durée est souvent fonction de la solvabilité de la structure et son ancienneté.</p>
			<p>L'idée avec la solution QuietRent Pro est donc de permettre au locataire, moyennant le paiement d'une prime, de n'immobiliser qu'une partie de son DG et/ou GAPD. Le solde étant garanti par celle-ci. Ainsi, le locataire utilise l'excèdent de trésorerie pour développer son activité tout en rassurant le bailleur en lui fournissant des garanties confortables.</p>

			<div class="content-gap-mb-30"></div>
	
			<h3>QuietRent Pro libère de la trésorerie pour le locataire</h3>
			<p>Cette solution assurantielle était initialement orientée vers les nouveaux baux. Toutefois, elle apporte dans un contexte de renégociation du loyer, une réponse particulièrement intéressante pour les baux en cours.</p>
			<p>Le montant du dépôt de garantie est restitué au locataire. Il perçoit une franchise de loyer ou remboursement, en contrepartie du paiement d'une cotisation. Le montant de l'éventuelle GAPD peut entrer dans ce même dispositif.</p>
			<p>QuietRent Pro est sans risque pour le bailleur. En cas de défaillance du locataire, le bailleur est garanti du paiement du montant substitué (DG et/ ou GAPD). Il en est de même pour la prise en charge des frais de procédure. Cette indemnisation est conduite sous un délai de 15 jours.</p>
		</div>
	</div>
</section>
<!-- End Business Insurance Area -->
{% endblock content %}