{% extends 'base/header.html' %}
{% block content %}
{% load static %}
<!-- Start Page Title Area -->
<div class="page-title-area">
	<div class="container">
		<div class="page-title-content">
			<h3>Nos Expertises</h3>
			
			<ul>
				<li>
					<a href="../../index">
						Accueil 
					</a>
				</li>

				<li class="active">
					Nos Expertises
				</li>
			</ul>

			<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
		</div>
	</div>

	<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
	<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
</div>
<!-- End Page Title Area -->

<!-- Start Business Insurance Area -->
<section class="business-insurance-area ptb-100">
	<div class="container">
		<div class="business-insurance-content main-content-text">
			<img src="{% static 'base/assets/images/nos-expertises.jpeg' %}" alt="Image" style="width:100%;">
			<div class="content-gap-mb-20"></div>		
		</div>
	</div>
	<!-- Start Pricing Area -->
	<div class="pricing-area pt-100 pb-70">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-6">
					<div class="single-pricing">
						<div class="price-title">
							<h3>Entreprise</h3>
							<br>
						</div>

						<ul>
							<li>
								<i class="ri-check-line"></i>
								Business Plan Review
							</li>
							<li>
								<i class="ri-check-line"></i>
								Modélisation financière
							</li>
							<li>
								<i class="ri-check-line"></i>
								Définition d&#39;indicateur de performance et de pilotage
							</li>
							<li>
								<i class="ri-check-line"></i>
								Analyse SWOT sectorielle
							</li>
							<!-- <li>
								<i class="ri-check-line"></i>
								I24/7 Support
							</li> -->
						</ul>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6">
					<div class="single-pricing">
						<div class="price-title">
							<h3>Immobilier</h3>
							<br>
						</div>

						<ul>
							<li>
								<i class="ri-check-line"></i>
								Schéma directeur immobilier
							</li>
							<li>
								<i class="ri-check-line"></i>
								Analyse des baux commerciaux
							</li>
							<li>
								<i class="ri-check-line"></i>
								Optimisation du poste immobilier
							</li>
							<!-- <li>
								<i class="ri-check-line"></i>
								Cost Of Accidents & Damage
							</li>
							<li>
								<i class="ri-check-line"></i>
								I24/7 Support
							</li> -->
						</ul>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6">
					<div class="single-pricing">
						<div class="price-title">
							<h3>Conseil Opérationnel et Stratégique</h3>
						</div>

						<ul>
							<li>
								<i class="ri-check-line"></i>
								Revue stratégique des différents bailleurs
							</li>
							<li>
								<i class="ri-check-line"></i>
								Chiffrage des gains de valeur en passant par QuietRent
							</li>
							<li>
								<i class="ri-check-line"></i>
								Assistance à la négociation Bailleur-Preneur
							</li>
							<li>
								<i class="ri-check-line"></i>
								Assistance sur la documentation juridique
							</li>
							<li>
								<i class="ri-check-line"></i>
								Aide au closing
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Pricing Area -->
</section>
<!-- End Business Insurance Area -->

{% endblock %}