{% extends 'base/header.html' %}
{% block content %}
{% load static %}
<!-- Start Page Title Area -->
<div class="page-title-area">
	<div class="container">
		<div class="page-title-content">
			<h2>Notre métier</h2>
			
			<ul>
				<li>
					<a href="../../index">
						Accueil
					</a>
				</li>

				<li class="active">
					Notre métier
				</li>
			</ul>

			<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
		</div>
	</div>

	<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
	<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
</div>
<!-- End Page Title Area -->

<!-- Start Case Studies Details Area -->
<div class="blog-area ptb-100">
	<div class="container">
		<div class="blog-contents">
			<div class="blog-img">
				<img style="width: 1200px; height: 500px;" src="{% static 'base/assets/images/notre-metier.jpeg' %}" alt="Image">
			</div>

			<h3>En quoi consiste notre métier ?</h3>

			<p>Le risque locatif en immobilier d'entreprise est plus que jamais d'actualité. C'est pourquoi, l'objectif de QuietRent Pro consiste en la substitution des Dépôts de Garantie (DG) et/ou des Garanties À Première Demande (GAPD) des baux commerciaux nouveaux et existants. Par extension nous souhaitons à terme élargir le produit à la substitution de toute GAPD.</p>
			<p>Le DG représente souvent plusieurs dizaines de milliers d'euros immobilisés. Notre solution permet au locataire de récupérer son DG, et donc de libérer sa trésorerie ce qui pourrait être crucial dans un contexte post-covid.</p>
		
		<!--
		<div class="case-studies-details-area gallery-popup ptb-100">
			<div class="container">
				<div class="case-studies-details-img ">
					<div class="case-studies-title d-flex justify-content-between align-items-center">
						<p></p>
					</div>

				<img src="../../static/base/assets/images/metier-2.jpg" style="margin-left:213px" alt="Image">
				</div>
			
		<div class="business-insurance-content main-content-text">
			<p>Le risque locatif en immobilier d'entreprise est plus que jamais d'actualité. C'est pourquoi, l'objectif de QuietRent Pro consiste en la substitution des Dépôts de Garantie (DG) et/ou des Garanties À Première Demande (GAPD) des baux commerciaux nouveaux et existants. Par extension nous souhaitons à terme élargir le produit à la substitution de toute GAPD.</p>

			<div class="content-gap-mb-35"></div>

			 <blockquote>
				<i class="ri-double-quotes-r"></i>
				<p>Le DG représente souvent plusieurs dizaines de milliers d'euros immobilisés. Notre solution permet au locataire de récupérer son DG, et donc de libérer sa trésorerie ce qui pourrait être crucial dans un contexte post-covid.</p>
				<h4>A person</h4>
			</blockquote> -->

			<div class="content-gap-mb-35"></div>

			<!-- <div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="single-blog-img">
						<a href="../../static/base/assets/images/blog/blog-5.jpg" class="img">
							<img src="../../static/base/assets/images/blog/blog-5.jpg" alt="Image">
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-blog-img">
						<a href="../../static/base/assets/images/blog/blog-4.jpg" class="img">
							<img src="../../static/base/assets/images/blog/blog-4.jpg" alt="Image">
						</a>
					</div>
				</div>
			</div> -->
			<!-- <div class="row">
				<div class="col-lg-6 col-md-6">
					<ul class="protective-list mb-15">
						<li>
							<i class="ri-check-double-line"></i>
							Protective Protection
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Homeowner Insurance
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Consultations
						</li>
					</ul>
				</div>

				<div class="col-lg-6 col-md-6">
					<ul class="protective-list">
						<li>
							<i class="ri-check-double-line"></i>
							Money Back Guarantee
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Partnership System
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Safety Ensure
						</li>
					</ul>
				</div>
			</div> -->

			<br>
			<h3>Notre Challenge :</h3>
			<p>Le DG représente souvent plusieurs dizaines de milliers d'euros immobilisés. Notre solution permet au locataire de récupérer son DG, et donc de libérer sa trésorerie ce qui pourrait être crucial dans un contexte post-covid.</p>
		
			<div class="content-gap-mb-35"></div>

			<h3>Notre Solution :</h3>
			<p> QuietRent  Pro est un produit d’assurance venant se substituer en tout ou partie au dépôt de garantie et/ou à la GAPD.
				Il est l’aboutissement d’un an de recherche et développement avec des partenaires assureurs sur les plans technique, financier et juridique. </p>
			<div class="content-gap-mb-35"></div>

			<h3>Nos Résultats :</h3>
			<p> La souscription à notre solution laisse la possibilité au locataire d'allouer une plus grande partie de ses liquidités à son activité, en récupérant son DG/GAPD et en s'acquittant d'une prime annuelle réduite.</p>
			<div class="content-gap-mb-35"></div>

			<div class="row align-items-center">
				<div class="col-lg-5 col-md-6">
					<ul class="protective-list mb-15">
						<li>
							<i class="ri-check-double-line"></i>
							Des Garanties Renforcées
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Une Trésorerie Préservée
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Une Solution Innovante
						</li>
						<li>
							<i class="ri-check-double-line"></i>
							Une Expertise Mathématique, Financière et Immobilière
						</li>
					</ul>
				</div>

				<div class="col-lg-7 col-md-6">
					<div class="case-img">
						<a href="../../static/base/assets/images/cochon-new.png" class="img">
							<img src="../../static/base/assets/images/cochon-new.png" alt="Image">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Case Studies Details Area -->

{% endblock %}