{% extends 'base/header.html' %}
{% block content %}
		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Notre Équipe</h2>
					
					<ul>
						<li>
							<a href="../../index">
								Accueil 
							</a>
						</li>

						<li class="active">
							Notre Équipe
						</li>
					</ul>

					<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
				</div>
			</div>

			<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
			<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
		</div>
		<!-- End Page Title Area -->

				<!-- Start Our Team Area -->
				<div class="our-team-area ptb-100">
					<div class="container">
						<div class="section-title">
							<span class="top-title">Notre Équipe d'Experts</span>
							<h2>Rencontrez-Nous</h2>
						</div>
		
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="single-team-item">
									<div class="team-content">
										<a href="https://www.linkedin.com/in/mamanc/" class="mail" target="_blank">
											<i class="ri-linkedin-fill"></i>
										</a>
		
										<h3>CHALOM ARYÉ MAMAN </h3>
										<span>Président <br> Expert en finance de l'immobilier <br> &nbsp;</span>
		
									</div>
								</div>
							</div>
		
							<div class="col-lg-3 col-sm-6">
								<div class="single-team-item">
									<div class="team-content">
										<a href="https://www.linkedin.com/in/itsik-teboul-976240107/" class="mail" target="_blank">
											<i class="ri-linkedin-fill"></i>
										</a>
		
										<h3>ITSIK TEBOUL</h3>
										<span>Directeur général<br>Expert en analyse / gestion d'entreprise</span>
									</div>
								</div>
							</div>
		
							<div class="col-lg-3 col-sm-6">
								<div class="single-team-item">
									<div class="team-content">
										<a href="https://www.linkedin.com/in/mickael-anoufa-34040883/" class="mail" target="_blank">
											<i class="ri-linkedin-fill"></i>
										</a>
		
										<h3>DR. MICKAEL ANOUFA</h3>
										<span>Directeur scientifique<br>Expert en big data & modélisation <br>  &nbsp;</span>
		
									</div>
								</div>
							</div>
		
							<div class="col-lg-3 col-sm-6">
								<div class="single-team-item">
									<div class="team-content">
										<a href="https://www.linkedin.com/in/nathaniel-allali/" class="mail" target="_blank">
											<i class="ri-linkedin-fill"></i>
										</a>
		
										<h3>NATHANIEL ALLALI</h3>
										<span> Directeur des opérations<br>Asset Management & Property Management</span>
		
									</div>
								</div>
							</div>
		
						</div>
						<div class="blog-contents">
							<h3>Qui sommes-nous ?</h3>
				
							<p>Notre équipe complémentaire permet d'appréhender la chaine du besoin à la solution. Notre point de départ est toujours une problématique rencontrée dans le cadre de missions en immobilier. Nous réfléchissons à une approche du risque tridimensionnel à la fois mathématiques, immobilières et financières.</p>
							<p>Nous soumettons ensuite nos propositions pour la conception de produits de couverture de risques. Nous travaillons toujours en tandem avec le client final potentiel.</p>
						</div>	
					</div>
				</div>
				<!-- End Our Team Area -->

		<!-- Start Our Features Area -->
		<!-- <div class="our-features-area pt-100 pb-70">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-3 col-sm-6">
						<div class="single-features-item style-three member">
							<i class="flaticon-money-back"></i>
							<h3>CHALOM ARYÉ MAMAN Président</h3>
							<p>Expert en finance de l'immobilier</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 member">
						<div class="single-features-item style-three member">
							<i class="flaticon-claim"></i>
							<h3>ITSIK TEBOUL Directeur général</h3>
							<p>Expert en analyse / gestion d'entreprise</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 member">
						<div class="single-features-item style-three member">
							<i class="flaticon-insurance-policy"></i>
							<h3>DR. MICKAEL ANOUFA Directeur scientifique</h3>
							<p>Expert en big data & modélisation</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 member">
						<div class="single-features-item style-three member">
							<i class="flaticon-mobile-payment"></i>
							<h3>NATHANIEL ALLALI Directeur des opérations</h3>
							<p>Asset Management & Property Management</p>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- End Our Features Area -->	
		<!-- Start Why Choose Us Area -->
		<!-- <div class="why-choose-us-area bg-color-f8f8f8 pt-100 pb-70">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="choose-us-img mr-15">
							<img src="../../static/base/assets/images/choose-us-img.jpg" alt="Image">
							<img src="../../static/base/assets/images/choose-shape.png" class="choose-shape shape" alt="Image" data-speed="0.04" data-revert="true">
						</div>
					</div>

					<div class="col-lg-6">
						<div class="choose-us-content ml-15">
							<span class="top-title">WHY CHOOSE US</span>
							<h2>Our Company Has Been Working Very Faithfully</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. Id nisl quis arcu nulla leo.</p>

							<div class="row">
								<div class="col-lg-6 col-sm-6">
									<ul class="mb-24">
										<li>
											<i class="ri-check-double-line"></i>
											Protective Protection
										</li>
										<li>
											<i class="ri-check-double-line"></i>
											Homeowner Insurance
										</li>
										<li>
											<i class="ri-check-double-line"></i>
											Consultations
										</li>
									</ul>
								</div>

								<div class="col-lg-6 col-sm-6">
									<ul>
										<li>
											<i class="ri-check-double-line"></i>
											Money Back Guarantee
										</li>
										<li>
											<i class="ri-check-double-line"></i>
											Partnership System
										</li>
										<li>
											<i class="ri-check-double-line"></i>
											safety Ensure
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- End Why Choose Us Area -->


		{% endblock %}