{% extends 'base/header.html' %}
{% block content %}

		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Politique De Confidentialité</h2>
					
					<ul>
						<li>
							<a href="../../index">
								Accueil 
							</a>
						</li>

						<li class="active">
							Politique De Confidentialité
						</li>
					</ul>

					<img src="../../static/base/assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
				</div>
			</div>

			<img src="../../static/base/assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
			<img src="../../static/base/assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
		</div>
		<!-- End Page Title Area -->

		<!-- End Privacy policy Area -->
		<section class="ptb-100">
			<div class="container">
				<div class="main-content-text">
					<h3>1. Données personnelles :</h3>
					<p>Les seules données personnelles recueillies par la société QUIETRENT sont celles fournies par
						l'utilisateur lorsqu'il remplit le « formulaire de contact » destiné à entrer en contact avec la
						société, ou lors</p>
					<p>En tout état de cause, ces informations sont utilisées dans l'unique but de proposer un service
						pertinent à l'utilisateur, qui répondra au mieux à ses attentes.
						Ces informations sont exclusivement destinées à QUIETRENT.</p>
					<p>Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique,
						aux fichiers et aux libertés (dite loi « Informatique et Libertés ») modifiée, au Règlement du
						Parlement européen et du Conseil n° 2016/679 relatif à la protection des personnes physiques
						à l'égard du traitement des données à caractère personnel et à la libre circulation de ces
						données, et abrogeant la directive 95/46/CE, ainsi qu'aux recommandations et décisions de la
						Commission nationale de l'informatique et des libertés (CNIL), QUIETRENT s'engage à :</p>
					<p>Prendre toute précaution afin de préserver la sécurité de ces informations et notamment
						empêcher qu'elles ne soient déformées, endommagées ou communiquées à des tiers.</p>
					<div class="gap-20"></div>

					<h3>2. Cookies :</h3>
					<p>Nous n'utilisons pas de cookies ou de technologie équivalente pour stocker et/ou accéder à
						des informations sur votre appareil.</p>
					<p>Pour toute information complémentaire sur notre politique de confidentialité, veuillez nous
						contacter à l'adresse suivante : <a href="mailto:contact@quietrent.com">contact@quietrent.com</a></p>
					</div>
			</div>
		</section>
		<!-- End Privacy policy Area -->

{% endblock content %}