{% extends 'admin/content-admin.html' %}

{% block css %}
<link href="../../static/admin/assets/plugins/hopscotch/hopscotch.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content2 %}
    <div class="col-lg-12">
        <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Mes Contrats</h4>
                    </div><!--end col-->
                </div><!--end row-->
              </div><!--end card-header-->
        </div><!--end card-->
            <div class="table-responsive">
                <table class="table table-bordered mb-0 table-centered">
                    <thead>
                        <tr>
                            <th>Id. Contrat</th>
                            <th>Nom de la société</th>
                            <th>Type du contrat</th>
                            <th>Date de début du contrat</th>
                            <th>Statut du contrat</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contrat in contrats %}
                            <tr>
                                <td>{{ contrat.id }}</td>
                                <td>{{ contrat.demande.social_reason }}</td>
                                <td>{{ contrat.type }}</td>
                                <td>{{ contrat.date }}</td>
                                <td>
                                    {% if contrat.admin_has_signed %}
                                        Oui
                                    {% else %}
                                        <span style="font-size:small" class="badge badge-soft-success font-12">En cours</span>
                                    {% endif %}
                                </td>
                                <td class="text-end">
                                    <form style="float:right" method="post" action="../consulting-docs/">
                                        {% csrf_token %}
                                        <a title="Télécharger le contrat"><button style="margin-left:10px" class="btn btn-de-light shadow-dark" type="submit" value="{{ contrat.adresse_doc }}" name="file_name"><img style="width:25px" src="../../static/admin/assets/images/down-arrow.png"></button></a>
                                    </form>
                                    {% if not contrat.admin_has_signed %}
                                        <form method="post" action="../docusign-signature/">
                                            {% csrf_token %}
                                            <a title="signer le contrat"><button style="margin-left:10px" class="btn btn-de-light shadow-dark" type="submit" value="{{ contrat.id }}" name="choice"><img style="width:25px" src="../../static/admin/assets/images/lecriture.png"></button></a>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
    </div> <!-- end col -->
{% endblock %}

{% block js %}
<script src="../../static/admin/assets/plugins/hopscotch/hopscotch.js"></script>
<script src="../../static/admin/assets/pages/tour.init.js"></script>
{% endblock %}