{% extends 'admin/header.html' %}

{% block content %}
<div id="body" class="auth-page" style="background-image: url('../../static/admin/assets/images/p-1.png'); background-size: cover; background-position: center center;">
    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 auth-header-box">
                                <div class="text-center">
                                    <a href="../../../index/" class="logo logo-admin">
                                        <img src="../../static/admin/assets/images/logoQuietRent.png" style="width: 50%;" alt="logo" class="auth-logo">
                                    </a>
                                    <h4 class="mb-1 fw-semibold text-white font-18">Mot de passe oublié ?</h4>
                                    <p class="text-muted  mb-5">Saisissez votre adresse E-mail ratachée à ce compte et suivez les instructions qui vous seront envoyées.</p>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <form class="my-4" method="post">
                                    {% csrf_token %}
                                    <div class="form-group mb-3 text-center">
	                                    {{form}}
                                    </div><!--end form-group-->

                                    <div class="form-group mb-0 row">
                                        <div class="col-12">
                                            <button class="btn text-white w-100" style="background-color: #4C9082" type="submit">Changer de mot de passe<i class="fas fa-sign-in-alt ms-1"></i></button>
                                        </div><!--end col-->
                                    </div> <!--end form-group-->
                                </form><!--end form-->
                                <div class="text-center text-muted">
                                    <p class="mb-1">Vous vous en souvenez finalement ?  <a href="auth-register.html" style="color: #4C9082; text-decoration: underline;" class="ms-2">Connectez-vous ici !</a></p>
                                </div>
                            </div><!--end card-body-->
                            <div class="card-body bg-light-alt text-center">
                                &copy; <script>
                                    document.write(new Date().getFullYear())
                                </script> QuietRent
                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</div>
{% endblock %}

<!--<h3>Password reset</h3>-->

<!--<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>-->

<!--<form method="post">-->

<!--	{% csrf_token %}-->
<!--	{{form}}-->
<!--	<input type="Submit" name="Send email">-->

<!--</form>-->