{% extends 'admin/content-admin.html' %}


{% block css %}
<link href="../../../static/admin/assets/plugins/tobii/tobii.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content2 %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="met-profile">
                    <div class="row">
                        <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                            <div class="met-profile-main">
                                <div class="met-profile-main-pic">
                                    <span class="thumb-xl justify-content-center d-flex align-items-center bg-soft-info rounded-circle me-2" style="text-transform: uppercase;">{{ request.user.first_name|first }}{{ request.user.last_name|first }}</span>
                                </div>
                                <div class="met-profile_user-detail">
                                    <h5 class="met-user-name">{{ user.first_name }} {{ user.last_name }}</h5>
                                    <p class="mb-0 met-user-name-post">UI/UX Designer, India</p>                                                        
                                </div>
                            </div>                                                
                        </div><!--end col-->
                        
                        <div class="col-lg-4 ms-auto align-self-center">
                            <ul class="list-unstyled personal-detail mb-0">
                                <li class=""><i class="las la-phone mr-2 text-secondary font-22 align-middle"></i> <b> phone </b> :
                                    {{ user.mobile }}</li>
                                <li class="mt-2"><i class="las la-envelope text-secondary font-22 align-middle mr-2"></i> <b> Email </b> :
                                    {{ user.email }}</li>
                                <li class="mt-2"><i class="las la-globe text-secondary font-22 align-middle mr-2"></i> <b> Website </b> : 
                                    <a href="{{ user.siteweb }}" class="font-14 text-primary">{{ user.siteweb }}</a>
                                </li>                                                   
                            </ul>
                           
                        </div><!--end col-->
                        <div class="col-lg-4 align-self-center">
                            <div class="row">
                                <div class="col-auto text-end border-end">
                                    
                                </div><!--end col-->
                                <div class="col-auto">
                                    
                                </div><!--end col-->
                            </div><!--end row-->                                               
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end f_profile-->                                                                                
            </div><!--end card-body-->  
            <div class="card-body p-0">    
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" data-bs-toggle="tab" href="#Post" role="tab" aria-selected="true">Post</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#Entreprise" role="tab" aria-selected="false">Entreprise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#Settings" role="tab" aria-selected="true">Informations personnelles</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane p-3" id="Entreprise" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h4 class="card-title">Entreprise</h4>
                                            </div><!--end col-->
                                        </div>  <!--end row-->
                                    </div><!--end card-header-->
                                    <div class="card-body">
                                        <form method="post" action="">
                                            {% csrf_token %}
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Nom de l'entreprise</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="nomentreprise" type="text" value="{{ user.entreprise }}">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Représentant</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="representant" type="text" value="{{ user.representant }}">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Adresse</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="adresse" type="text" value="{{ user.adresse }}">
                                            </div>
                                        </div>

                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Code postal</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="codepostal" type="text" value="{{ user.code_postal }}">
                                            </div>
                                        </div>

                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Siret</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="siret" type="text" value="{{ user.siret }}">
                                            </div>
                                        </div>

                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Siren</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="siren" type="text" value="{{ user.siren }}">
                                            </div>
                                        </div>

                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Description</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <textarea class="form-control" name="descriptif">{{ user.descriptif }}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Numéro de téléphone</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="las la-phone"></i></span>
                                                    <input type="text" class="form-control" name="mobile" value="{{ user.mobile }}" placeholder="Phone" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Site Internet</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="la la-globe"></i></span>
                                                    <input type="text" name="website" class="form-control" value="{{ user.siteweb }}" placeholder="Email" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">France</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <select name="city" class="form-select">
                                                    <option>Paris</option>
                                                    <option>Marseille</option>
                                                    <option>Lyon</option>
                                                    <option>Lille</option>
                                                    <option>Toulouse</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <div class="col-lg-9 col-xl-8 offset-lg-3">
                                                <button name="infoentreprise" type="submit" class="btn btn-de-primary">Modifier mes données</button>
                                                <button type="reset" class="btn btn-de-danger">Annuler</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!--end col-->
                        </div><!--end row-->
                    </div>

<!--                    Infos personnelles                  -->

                    <div class="tab-pane p-3 active" id="Settings" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h4 class="card-title">Informations personnelles</h4>
                                            </div><!--end col-->
                                        </div>  <!--end row-->
                                    </div><!--end card-header-->
                                    <div class="card-body">
                                        <form method="post" action="">
                                            {% csrf_token %}
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Nom</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="last_name" type="text" value="{{ user.last_name }}">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Prénom</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="first_name" type="text" value="{{ user.first_name }}">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Adresse E-mail</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="las la-at"></i></span>
                                                    <input type="text" name="email" class="form-control" value="{{ user.email }}" placeholder="Email" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <div class="col-lg-9 col-xl-8 offset-lg-3">
                                                <button name="infoform" type="submit" class="btn btn-de-primary">Modifier mes données</button>
                                                <button type="reset" class="btn btn-de-danger">Annuler</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!--end col-->
                            <div class="col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Changer de mot de passe</h4>
                                    </div><!--end card-header-->
                                    <div class="card-body">
                                        {% if erreur %}
                                        <p>{{ erreur }}</p>
                                        {% else %}
                                        <p>Cela aura pour effet de vous déconnecter.</p>
                                        {% endif %}
                                        <form method="post" action="">
                                            {% csrf_token %}
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Mot de passe actuelle</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="currentPass" type="password" placeholder="Password" required>
                                                <a href="{% url 'reset_password' %}" class="text-primary font-12">Mot de passe oublié ?</a>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Nouveau mot de passe</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="newPass" type="password" placeholder="New Password" required>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center form-label">Confirmer le nouveau mot de passe</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input class="form-control" name="confirmPass" type="password" placeholder="Re-Password" required>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 row">
                                            <div class="col-lg-9 col-xl-8 offset-lg-3">
                                                <button name="infopass" type="submit" class="btn btn-de-primary">Changer de mot de passe</button>
                                                <button type="reset" class="btn btn-de-danger">Annuler</button>
                                            </div>
                                        </div>
                                        </form>
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div> <!-- end col -->
                        </div><!--end row-->
                    </div>
                </div>
            </div> <!--end card-body-->                            
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->


{% endblock %}

{% block js %}
<script src="../../../static/admin/assets/plugins/tobii/tobii.min.js"></script>
<script>
    const tobii = new Tobii()
</script>
{% endblock %}