{% extends 'base/header.html' %}
{% block content %}


		<!-- Start Page Title Area -->
		<div class="page-title-area">
			<div class="container">
				<div class="page-title-content">
					<h2>Life Insurance</h2>
					
					<ul>
						<li>
							<a href="index.html">
								Home 
							</a>
						</li>

						<li class="active">
							Life Insurance
						</li>
					</ul>

					<img src="assets/images/choose-shape.png" alt="Image" class="shape shape-3" data-speed="0.09" data-revert="true">
				</div>
			</div>

			<img src="assets/images/subscribe-shape-1.png" alt="Image" class="shape shape-1" data-speed="0.04" data-revert="true">
			<img src="assets/images/subscribe-shape-2.png" alt="Image" class="shape shape-2" data-speed="0.04" data-revert="true">
		</div>
		<!-- End Page Title Area -->

		<!-- Start Life Insurance Area -->
		<section class="life-insurance-area ptb-100">
			<div class="container">
				<div class="life-insurance-content main-content-text">
					<img src="assets/images/life-insurance-img.jpg" alt="Image">
					<div class="content-gap-mb-20"></div>
					<h3>Life Insurance?</h3>
					<span>Insurance can help you save money.</span>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut laboriosam officia deleniti numquam, fugit qui, sint rerum esse eos sit provident ea. Inventore blanditiis nihil iure</p>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad provident id sequi repellendus accusamus maiores itaque, in impedit nam saepe ducimus magni error corrupti enim voluptate libero, perferendis, nobis architecto. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi commodi quos porro ratione obcaecati. Libero officiis nesciunt non temporibus, maxime optio voluptate nihil omni</p>
				
					<div class="content-gap-mb-30"></div>

					<h3>What is Life Insurance?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel.</p>
					<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>

					<div class="content-gap-mb-30"></div>
			
					<h3>Life Owners Insurance Policy</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel.</p>
					<ul>
						<li>
							<i class="ri-checkbox-circle-line"></i>
							At vero eos et accusam et justo duo dolores et ea rebum.
						</li>
						<li>
							<i class="ri-checkbox-circle-line"></i>
							Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet.
						</li>
						<li>
							<i class="ri-checkbox-circle-line"></i>
							Takimata sanctus est sed diam nonumy eirmod tempor invidunt
						</li>
						<li>
							<i class="ri-checkbox-circle-line"></i>
							Labore et dolore magna aliquyam erat, sed diam voluptua.
						</li>
						<li>
							<i class="ri-checkbox-circle-line"></i>
							Stet clita kasd gubergren, no sea takimata sanctus.
						</li>
					</ul>

					<div class="content-gap-mb-30"></div>
				
					<h3>Types of Life Insurance</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel.</p>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<ul>
								<li>
									<i class="ri-checkbox-circle-line"></i>
									Professional Indemnity
								</li>
								<li>
									<i class="ri-checkbox-circle-line"></i>
									Product Liability
								</li>
								<li>
									<i class="ri-checkbox-circle-line"></i>
									Loss Prevention
								</li>
							</ul>
						</div>

						<div class="col-lg-6 col-md-6">
							<ul>
								<li>
									<i class="ri-checkbox-circle-line"></i>
									Public Liability
								</li>
								<li>
									<i class="ri-checkbox-circle-line"></i>
									Employers' Liability
								</li>
								<li>
									<i class="ri-checkbox-circle-line"></i>
									Risk Management
								</li>
							</ul>
						</div>
					</div>

					<div class="content-gap-mb-30"></div>
				
					<h3>Adding Value To Your Life Insurance Policy</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis sit amet, consectetur adipiscing elit, sed suspendisse ultrices.</p>
					<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus tempor.</p>
				</div>
			</div>
		</section>
		<!-- End Life Insurance Area -->

{% endblock content %}