.cards-listi {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #4C9082;
  padding: 5px;
  border-radius: 10px;
}

.cardi {
  margin: 5px;
  height: 140px;
  border-radius: 10px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.cardi .card_image {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.cardi .card_image img {
  width: inherit;
  height: inherit;
  border: solid 2px #4C9082;
  border-radius: 10px;
  object-fit: cover;
}

.cardi .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -100px;
  height: 40px;
}

.cardi:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

input[type="radio"] {
    display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media all and (max-width: 120px) {
  .card-listi {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* <select> styles */
select {
  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  /*background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)*/
  /*    no-repeat right 0.8em center / 1.4em,*/
  /*  linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2); 3em);*/
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  option {
    color: inherit;
    background-color: #320a28;
  }
}


/*
.cardi {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/